/*
* {
	outline: 1px dashed #999;	
}
*/

body {
	background-image: url("images/Shopping-Mall-of-America-Saint-Paul.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#wrapper {
	position: relative;
	margin: 10px auto;
	width: 400px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #000;
	min-height: 400px;
}

header {
	padding: 5px;
	margin-left: 5px;
}

h1 {
	font-size: 20px;
}

h2 {
    font-size: 50px;
}

#main {
	margin: auto 5px;
	padding: 5px;
	vertical-align: top;
}

#form {
	margin: auto 5px auto 10px;
	vertical-align: middle;
}

#addbox {
	width: 200px;
	height: 20px;
}

#addbutton {
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: url(images/green-plus-sign-md.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: text-top;
	text-align:center;
	text-decoration:none;
	border: 0px;
}

#newbutton {
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: url(images/Actions-bookmark-new-icon.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: text-top;
	text-align:center;
	text-decoration:none;
	border: 0px;
}

#instructions {
	color: blue;
	display: inline-block;
	font-size: 12px;
	text-align: right;
	width: 120px;
}

#thelist {
	font-size: 20px;
	margin: 5px;
}

#thelist li {
	margin: 2px auto;
}

 #thelist li:nth-child(odd) {
	background-color: #eeeeff;
}

.del {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url(images/DeleteRed.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	margin-left: 5px;
}

.items {
	margin-left: 5px;
	display: inline-block;
	text-transform: capitalize;
}

.checked {
	text-decoration: line-through;
	opacity: 0.6;
}

.example {
	opacity: 0.3;
	padding-left: 10px;
	text-align: center;
}

#instructions-info {
	display: none;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
	position: absolute;
	top: 120px;
	left: 130px;
	width: 250px;
	padding: 1px;
	z-index: 1;
}

#instructions-info ul {
	margin: 5px 5px 5px 20px;
	padding-left: 5px;
	list-style: disc;
}